{
  peppy_schema: "node/v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "v1",
    depends_on: {
      nodes: [
        {
          name: "{{ uvc_camera_node_name }}",
          tag: "v1",
          link_id: "uvc_camera"
        },
      ]
    },
  },
  interfaces: {
    topics: {
      consumes: [
        {
          link_id: "uvc_camera",
          name: "video_stream"
        }
      ],
    },
  },
  execution: {
    language: "rust",
    parameters: {
      http: {
        host: "string",
        port: "u16",
        cors_enabled: "bool",
        cors_origins: "string",
        max_connections: "u32",
        request_timeout_ms: "u32",
      },
      video_stream: {
        format: "string",
        quality: "u16",
        max_fps: "u16",
      },
    },
    run_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  }
}