{
  peppy_schema: "node/v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "v1",
    labels: [
      "uvc",
      "camera",
      "usb",
    ],
  },
  interfaces: {
    topics: {
      emits: [
        {
          name: "video_stream",
          qos_profile: "sensor_data",
          message_format: {
            header: {
              $type: "object",
              stamp: "time",
              frame_id: "u32",
            },
            encoding: "string",
            width: "u32",
            height: "u32",
            frame: {
              $type: "array",
              $items: "u8"
            },
          },
        }
      ],
    },
    services: {
      exposes: [
        {
          name: "enable_camera",
          request_message_format: {
            enable: "bool",
          },
          response_message_format: {
            enabled: "bool",
          },
        },
        {
          name: "get_camera_info",
          response_message_format: {
            card_type: "string",
            size: "string",
            interval: "string"
          },
        },
      ],
    },
  },
  execution: {
    language: "rust",
    parameters: {
      device_path: "string",
      video: {
        frame_rate: "u16",
        resolution: {
          width: "u16",
          height: "u16",
        },
        encoding: "string",
      },
    },
    run_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
}