{
  peppy_schema: "node/v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "{{ node_tag }}",
    labels: [
      "sensor",
      "usb",
      "lidar"
    ],
  },
  interfaces: {
    topics: {
      emits: [
        {
          name: "push_lidar_object",
          qos_profile: "sensor_data",
          message_format: {
            header: {
              $type: "object",
              stamp: "time",
              frame_id: "u32",
            },
            x: "f32",
            y: "f32",
            z: "f32",
            intensity: "f32",
            return_type: "u8", // e.g. first return, last return
            classification: "u8", // type of object detected
          },
        }
      ],
    },
    services: {
      exposes: [
        {
          name: "enable_lidar",
          request_message_format: {
            enable: "bool",
          },
          response_message_format: {
            enabled: "bool",
          },
        },
        {
          name: "get_lidar_info",
          response_message_format: {
            card_type: "string",
            size: "string",
            interval: "string"
          },
        },
      ],
    },
  },
  execution: {
    language: "rust",
    parameters: {
      device_path: "string",
      lidar_point: {
        x: "f32",
        y: "f32",
        z: "f32",
        intensity: "f32",
        return_type: "u8",
        classification: "u8",
        timestamp: "time",
      }
    },
    run_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
}