// A simple node that receives commands from a brain and control the joints of the robot
{
  peppy_schema: "node_v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "v1",
    labels: [
      "controller",
    ],
  },
  interfaces: {
    actions: {
      exposes: [
        {
          // The controller exposes this action for the brain to use it
          name: "move_right_arm",
          goal_service: {
            // Services always use "reliable" qos (not configurable)
            request_message_format: {
              arm_id: "u16",
              desired_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            },
            response_message_format: {
              accepted: "bool"
            }
          },
          feedback_topic: {
            qos_profile: "standard", // Options: "standard", "reliable", "sensor_data"
            message_format: {
              new_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            }
          },
          // Services always use "reliable" qos (not configurable)
          result_service: {
            response_message_format: {
              final_position: {
                $type: "array",
                $items: "i32",
                $length: 3
              }
            }
          }
        }
      ],
    },
  },
  execution: {
    language: "rust",
    parameters: {},
    run_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
}