// A simple node that has an AI and acts as the brain of the robot
// It sends actions to the controller to perform those actions
{
  peppy_schema: "node_v1",
  manifest: {
    name: "{{ node_name }}",
    tag: "v1",
    labels: [
      "brain"
    ],
    depends_on: {
      nodes: [
        {
          name: "{{ uvc_camera_node_name }}",
          tag: "v1",
          link_id: "uvc_camera"
        },
        {
          name: "{{ lidar_sensor_node_name }}",
          tag: "v1",
          link_id: "lidar_sensor"
        },
        {
          name: "{{ controller_node_name }}",
          tag: "v1",
          link_id: "controller"
        },
      ]
    },
  },
  interfaces: {
    topics: {
      consumes: [
        {
          link_id: "uvc_camera",
          name: "video_stream"
        },
        {
          link_id: "lidar_sensor",
          name: "push_lidar_object"
        }
      ],
    },
    actions: {
      consumes: [
        {
          link_id: "controller",
          name: "move_right_arm",
        }
      ],
    },
  },
  execution: {
    language: "rust",
    parameters: {},
    run_cmd: [
      "cargo",
      "run",
      "--release"
    ]
  },
}