// In this example, the lidar sensor defines wrong input arguments.
{
  deployments: [
    {
      source: {
        repo: "{{ lidar_sensor_github_repo }}",
        path: "{{ lidar_sensor_github_repo_path }}",
        ref: "0.1.0"
      },
      instances: [
        {
          instance_id: "lidar_1",
          arguments: {
            device: {
              physical: "/dev/lidar1",
              sim: "mujoco:lidar1",
              priority: "sim"
            },
            lidar_point: {
              fps: 30 // Wrong input argument
            }
          }
        }
      ]
    },
  ],
}
